<div style="height:10px;"></div>
<div class="row border-bottom border-top">
  <div class="col-sm-2"><img height="64" src="/static/novalabs_r_icon-01.png"/></div>
  <div class="col-sm-5">
    <p style="font-size:20px;">NOVA LABS TINY URL GENERATOR</p>
  </div>
  <div class="col-sm-3 text-right">
    <a href="/" class="btn btn-sm btn-success text-right m-1">HOME</a>
    <a href="/logout" class="btn btn-sm btn-success text-right m-1">LOGOUT</a>
  </div>
</div>
<div style="height:10px;"></div>

<style>
.div-custom-bordered {
  border-color: #999999;
  background: #fff;
  border-style: solid;
  border-width: 1px;
  margin: 2px;
  padding: 2px;
  border-radius: 4px;
}
</style>
